<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FastTransTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>580A02821CDC3BC300BB9029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>580A029B1CDC3BC300BB9029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>580A02A61CDC3BC300BB9029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
